<form name="smsform">
    <input type="hidden" name="login" value="mche">
    <input type="hidden" name="password" value="464hf4">

    <input type="text" name="name" placeholder="имя">
    <select name="city">
        <option disabled selected>Выберите город</option>
        <option value="Астрахань">Астрахань</option>
        <option value="Белгород">Белгород</option>
        <option value="Брянск">Брянск</option>
        <option value="Волгоград">Волгоград</option>
        <option value="Волжский">Волжский</option>
        <option value="Вологда">Вологда</option>
        <option value="Воронеж">Воронеж</option>
        <option value="Калуга">Калуга</option>
        <option value="Краснодар">Краснодар</option>
        <option value="Курск">Курск</option>
        <option value="Липецк">Липецк</option>
        <option value="Орел">Орел</option>
        <option value="Ростов">Ростов</option>
        <option value="Рязань">Рязань</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Старый Оскол">Старый Оскол</option>
        <option value="Тула">Тула</option>
        <option value="Ульяновск">Ульяновск</option>
        <option value="Ярославль">Ярославль</option>
    </select>
    <input type="text" name="phone" placeholder="телефон">
    <input type="submit" value="submit">
</form>
<script type="text/javascript">
    document.smsform.action = "/send";
</script>