<form name="smsform">
    <input type="hidden" name="login" value="mche">
    <input type="hidden" name="password" value="464hf4">
    <input type="text" name="order" placeholder="номер заказа">
    <input type="text" name="name" placeholder="имя">
    <input type="text" name="city" placeholder="город">
    <input type="text" name="phone" placeholder="телефон">
    <input type="submit" value="submit">
</form>
<script type="text/javascript">
    document.smsform.action = "/send";
</script>