<!DOCTYPE html>
<html>
<head>
	<title><%-title -%></title>
	<link rel="stylesheet" href="/css/main.css"/>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<center>
<header>
	<% if (isAuth) { %>
		<%-partial('./menu')%>
	<% } %>
	<h1><%-title -%></h1>
</header>
<section>
	<%-partial('./'  + block)%>
</section>
</center>
</body>
</html>